<section>
    <div class="titulo">
        <h3>Elimina un Producto</h3>
    </div>
    <form id="formDelProducts">
        <div class="datos">
            <label for="id">id:</label>
            <input type="text" name="id" id="id">
        </div>
        <button type="submit" id="delBoton">eliminar</button>
    </form>
</section>