<header>
    <h1>Home Page</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/carts">Carritos</a></li>
        </ul>
    </nav>
</header>